# Weapons
upgraded_rune_shark_weapon: SoS
chrome_celestial_dissonance_weapon: CCDT

# Bases
valour_rift_prestige_base: Prestige
chocolate_bar_base: chocobar

# Charms
rift_super_power_trinket: RSPC
rift_ultimate_power_trinket: RUPC
ultimate_ancient_trinket: UAC
ancient_trinket: ancient
eggstra_charge_trinket: eggstra_charge

# Baits
gouda_cheese: Gouda
toxic_super_brie_cheese: ESB
sky_cheese: CC
